@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGreyishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --veryDarkCyan: hsl(157, 61%, 15%);
    --smallFont: clamp(1rem, 2.5vw, 2rem);
    --largeFont: clamp(8rem, 2.5vw, 10rem)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
    height: 100vh;
}

.gridContainer {
    display: grid;
    max-width: 45rem;
    max-height: 70rem;
    margin: 5% 10%;
    grid-template-columns: 50% 50%;
}

p{
    font-family: "Montserrat", sans-serif;
    color: var(--darkGreyishBlue);
    font-size: 16px;
    line-height: 2rem;
}

.text-title{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 1.8rem;
}

h1{
    font-family: "Fraunces", sans-serif;
    margin: 0 0.5rem 2rem 0;
    color: var(--veryDarkBlue);
    font-size: 2.5rem;
}

.desktopImg{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.mobileImg {display: none;}

.gridTxt {
    background-color: var(--white);
    padding: 1.7rem;
    border-radius: 0 10px 10px 0;
}

.price {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

span {
    margin-right: 2rem;
    font-family: "Montserrat", sans-serif;
    color: var(--darkCyan);
    font-size: 2em;
    font-weight: 700;
}

del {
    color: var(--darkGreyishBlue);
    font-size: 16px;
}

button {
    width: 90%;
    background-color: var(--darkCyan);
    padding: 1.2rem 0;
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: var(--veryDarkCyan);
}

@media  screen and (max-width:650px)  {

    .gridContainer {
       display: flex;
       flex-direction: column;
       width: 90vw;
       height: 95vh;
       margin-top: 5rem ;
    }

    .gridImg {
        height: 40%;
    }

    .desktopImg{display: none;}

    .mobileImg {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }

    h1 {
        margin: 0 0 1rem 0;
    }

    p {
        margin: 0;
    }

    .gridTxt{
       height: 60%;
       border-radius: 0 0 10px 10px;
    }

    .gridTxtSmall {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        
    }
    
}

@media screen and (max-width: 450px) {

    p, h1, span, del {
        margin: 0;
        padding: 0;
        line-height: normal;
    }

  

    .gridTxt {
        padding: 1rem;
    }
    
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}